{% extends 'base.html' %}

{% block pageheading %}
<h3> Hi Menu fans </h3>
{% endblock %}

{% block main %}
    <div class="products">
        <div class="product-box">
            <h3 class="product-box-heading"> Espresso </h3>
            <p class="product-box-info"> A small, sharp coffee </p>
        </div>

        <div class="product-box">
            <h3 class="product-box-heading"> Flat White </h3>
            <p class="product-box-info"> A milky delight.  </p>
        </div>
    </div>

{% endblock %}